beautifulsoup4==4.4.1
Flask==0.12.2
Flask-Script==2.0.6
Flask-WTF==0.14.2
future==0.16.0
gensim==3.3.0
ipython==6.2.0
jieba==0.39
Jinja2==2.8
nltk==3.2.5
numpy==1.13.1
pyltp==0.2.1
PyMySQL==0.7.11
requests==2.9.1
tensorflow==1.5.0
tensorflow-tensorboard==1.5.1
tqdm==4.19.5
word2vec==0.9.2
WTForms==2.1

